<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="head :: head-page('Login')"></head>

<body class="bg-gray-100 flex items-center justify-center h-screen">

<div class="bg-white p-6 rounded-xl shadow-xl w-96">

    <h1 class="text-2xl font-bold text-center mb-4">Login</h1>

    <form method="post" th:action="@{/login}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="mb-4">
            <label class="block mb-1">Username</label>
            <input type="text" name="username" class="w-full border p-2 rounded-lg"/>
            <p class="text-red-500 text-sm mt-1"
               th:if="${param.error}">
                Nom d’utilisateur incorrect.
            </p>
        </div>

        <div class="mb-4">
            <label class="block mb-1">Password</label>
            <input type="password" name="password" class="w-full border p-2 rounded-lg"/>
            <p class="text-red-500 text-sm mt-1"
               th:if="${param.error}">
                Mot de passe incorrect.
            </p>
        </div>

        <button class="bg-blue-600 text-white px-4 py-2 rounded-lg w-full">
            Sign in
        </button>

    </form>
</div>

</body>
</html>
